.header{
    width: 1756px;
    height:179px;
    background: #4B4747;
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    background-image:url(logo.png) no-repeat;
}
ul{
    list-style-type: none;
    font-size: 36px;
    font-family: 'Times new roman';
    color:white;
    margin-top: 74px;
    margin-bottom: 40px;
    margin-left: 276px;
    word-spacing: 90px;
}
li{
display:inline;
}
h2{
    position: absolute;
    top: 330px;
    width: 100%;
    left: 36px;
    color: white;
    font-size: 64px;
    font-family:'Times new roman';
    font-weight:400;
}
h3{
 position: absolute;
    top: 450px;
    width: 100%;
    left: 86px;
    color: white;
    font-size: 40px;
    font-family:'Times new roman';
    font-weight:400;   
    word-spacing: 90px;
}
h4{
    height: 107px;
width: 676px;
margin-left: 46px;
margin-top: 480px;
border-radius: nullpx;
font-family: 'Times New Roman';
font-size: 50px;
font-style: italic;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: #000000;

}
title{
height: 44px;
width: 313px;
margin-top: 500px;
left: 182px;
top: 1965px;
border-radius: undefinedpx;
font-family: Inter;
font-size: 36px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
background: #000000;

}
.footer{
    height: 360px;
width: 1756px;
left: 0px;
top: 3766px;
border-radius: 0px;
background:#572E2E;
position: absolute;
 margin-top: 200px;
margin-left: 0px;
   
}

